<%= form_with(model: nomination, local: true) do |form| %>
  <% if nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
      <% nomination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :nomination_user_id %>
  </div>

  <div class="field">
    <%= form.label :idea_id %>
    <%= form.text_field :idea_id, id: :nomination_idea_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
