<%= form_with(model: test, local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idea_id %>
    <%= form.text_field :idea_id, id: :test_idea_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :test_status %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.number_field :result, id: :test_result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
